.handContainer {
  display: inline-block;
  height: 162px;
}

.cardContainer {
  float: left;
  margin: 0px -30px 0px 0px;
}

.cardSelected {
  margin: -10px -30px 0px 0px;
}

.cardSelected rect {
  fill: rgba(230, 230, 230, 1);
}

.lastWinnerHand {
  margin: 0px -30px 0px 0px;
}

.lastWinnerHand rect {
  fill: rgba(155, 155, 155, .9);
}

.cardUnselected {
  margin: 0px -30px 0px 0px;
}

.cardUnselected rect {
}

.resultsPanel {
  margin: 30px;
}

.passButton {
  margin: 20px 20px 5px 0px;
  background-color: rgba(155,155,155,.9)
}

.playButton {
  margin: 20px 5px 5px 0px;
  background-color: rgba(0,155,0,.9)
}

.actionButton {
  width: 80px;
  height: 35px;
  border-radius: 10px;
  font-size: 1.2em;
}

.createGameButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2em;
}

.actionButton:disabled {
  color: #666666;
}

.active {
  font-weight: bold
}

.dealer {
  font-style: italic;
}

.playedHand {
  font-style: italic;
  clear: both;
}

.lastPlayed {
  clear: both;
  margin-left: 20px;
}

.myHand {
  padding: 20px;
}

.playerHand {
  font-weight: bold;
  clear: both;
}

.opponentHand {
  padding: 10px;
  height: 162px;
}

.navigation {
  height: 40px;
}

.cardCount {
  font-size:0.75em;
  padding-left: 5px;
}

.opponentHandContainer {
  width: 100px;
  height: 162px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.opponentCardCount {
  position: absolute;
  color: white;
}

.opponentCard {
  z-index: 10;
}

.historyHeader {
  font-weight: bold;
}

.historyArea {
  font-size: 12px;
  height: 90px;
  overflow-x: hidden;
  display: inline-block;
  overflow-y: scroll;
  width: 350px;
}

.historyParent {
  width: auto;
}

.historyPlayer {
  width: 125px;
  padding: 5px;
  border: 1px solid black;
}

.historyPlay {
  width: 175px;
  padding: 5px;
  border: 1px solid black;
}

.gridCell {
  padding: 10px;
}

.myHand {
  padding: 20px 10px;
}

.myHandRow {
  width: 550px;
}

.newGameButton {
  margin-left: 10px;
}

.loginForm {
  margin: 20px;
}

.leaderboardTable {
  width: 50%;
  margin: 0 auto;
}

.lobbyTable {
  width: 400px;
  margin: 0 auto;
}

.lobbyContent {
  width: 400px;
  margin: 0 auto;
}

.lobbyButton {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  background: #CCCCCC;
}
