.handContainer {
  display: inline-block;
  height: 162px;
}

.cardContainer {
  float: left;
  margin: 0px -30px 0px 0px;
}

.cardSelected {
  margin: -10px -30px 0px 0px;
}

.cardSelected rect {
  fill: rgba(155, 155, 155, .9);
}

.lastWinnerHand {
  margin: 0px -30px 0px 0px;
}

.lastWinnerHand rect {
  fill: rgba(155, 155, 155, .9);
}

.cardUnselected {
  margin: 0px -30px 0px 0px;
}

.resultsPanel {
  margin: 30px;
}

.passButton {
  margin: 20px 20px 5px 0px;
  background-color: rgba(155,155,155,.9)
}

.playButton {
  margin: 20px 5px 5px 0px;
  background-color: rgba(0,155,0,.9)
}

.actionButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2em;
}

.active {
  font-weight: bold
}

.dealer {
  font-style: italic;
}

.playedHand {
  font-style: italic;
}

.lastPlayed {
  clear: both;
  margin-left: 20px;
}

.myHand {
  padding: 20px;
}

.playerHand {
  font-weight: bold;
}

.opponentHand {
  padding: 10px;
  height: 162px;
}

.navigation {
  /* margin-left: 20px */
}

.cardCount {
  font-size:0.75em;
  padding-left: 5px;
}

.historyHeader {
  font-weight: bold;
}

.gridCell {
  padding: 10px;
}

.newGameButton {
  margin-left: 10px;
}

.loginForm {
  margin: 20px;
}
